<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"/>
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <div class="post">
    <p>Post id : <%= post.id %></p>
    <p>Post username : @<%= post.username %></P>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea rows="10" cols="35" name="content"><%= post.content %></textarea>
        <br>
        <button>Submit</button>
    </form>
    </div>
</body>
</html>